command:
  - bash
  - start.sh

env:
  - name: DATABRICKS_LAKEBASE_HOST
    value: "<LAKEBASE_ENDPOINT_HOST>"
  - name: DATABRICKS_LAKEBASE_DB
    value: "<DATABASE_NAME>"
  - name: DATABRICKS_LAKEBASE_USER
    value: "<LAKEBASE_USER>"
  - name: DATABRICKS_LAKEBASE_PASSWORD
    value: "<LAKEBASE_PASSWORD>"

resources:
  - name: audio-insight-serving-endpoint
    serving_endpoint:
      name: databricks-claude-sonnet-4-6
      permission: CAN_QUERY
  - name: audio-insight-gemini
    serving_endpoint:
      name: databricks-gemini-2-5-flash
      permission: CAN_QUERY
  - name: audio-insight-sql-warehouse
    sql_warehouse:
      name: Serverless Starter Warehouse
      permission: CAN_USE
